* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-top: 140px; /* IMPORTANT */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    z-index: 1000;
}

header.sticky {
    padding: 10px 80px;
}

header .logo {
    color: black;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.banner1 {
    padding: 30px;
    text-align: center;
}

.threebuttons {
    margin: 20px 0;
}
